<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.root.app.users.UserDTO" alias="UserDTO"/>
		<typeAlias type="com.root.app.products.ProductDTO" alias="ProductDTO"/>
		<!-- <typeAlias type="java.util.Map" alias="Map"/> -->
		<typeAlias type="com.root.app.boards.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.root.app.accounts.AccountDTO" alias="AccountDTO"/>
		<typeAlias type="com.root.app.pages.Pager" alias="Pager"/>
		<typeAlias type="com.root.app.boards.qna.QNADTO" alias="QNADTO"/>
		
		<typeAlias type="com.root.app.boards.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.root.app.users.UserFileDTO" alias="UserFileDTO"/>
		<typeAlias type="com.root.app.products.ProductFileDTO" alias="ProductFileDTO"/>
	</typeAliases>
</configuration>