<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.root.app.products.ProductDAO">
  	<select id="getList" parameterType="Pager" resultMap = "getDetailResult">
  		SELECT * FROM
		(SELECT ROWNUM R,M.* FROM (SELECT * FROM  PRODUCTS LEFT OUTER JOIN PRODUCTIMAGE USING(PRODUCTNUM)
			<include refid="search"></include> 
			ORDER BY PRODUCTNUM DESC) M)
		WHERE R BETWEEN #{startNum} AND #{lastNum}
  	</select>
  	
  	<select id="getDetail" resultMap="getDetailResult" parameterType="ProductDTO">
  		SELECT * FROM PRODUCTS p
  		LEFT OUTER JOIN PRODUCTIMAGE I
  		USING (PRODUCTNUM)
  		WHERE PRODUCTNUM = #{productNum}
  	</select>
  	
  	<insert id="add" parameterType="ProductDTO">
  		<selectKey keyProperty="productNum" resultType="long" order="BEFORE">
        	SELECT PRODUCTNUM_SEQ.NEXTVAL FROM DUAL
    	</selectKey>
  	
  		INSERT INTO PRODUCTS(PRODUCTNUM, PRODUCTNAME, PRODUCTDETAIL, PRODUCTRATE, PRODUCTDATE)
		 VALUES (#{productNum},#{productName},#{productDetail},#{productRate},#{productDate})
  	</insert>
  	
  	<update id="update" parameterType="ProductDTO">
  		UPDATE PRODUCTS SET PRODUCTNAME = #{productName},PRODUCTDETAIL = #{productDetail}, PRODUCTRATE=#{productRate}, PRODUCTDATE =#{productDate} 
  		WHERE PRODUCTNUM= #{productNum}
  	</update>
  	
  	<delete id="delete" parameterType="ProductDTO">
  		DELETE PRODUCTS WHERE PRODUCTNUM = #{productNum}
  	</delete>
  	
  	<select id="gettotalcount" parameterType="Pager" resultType ="java.lang.Long">
  		SELECT COUNT(PRODUCTNUM) FROM PRODUCTS
  		<include refid="search"></include>
	</select>
	
	<insert id="upload" parameterType="ProductFileDTO">
		INSERT INTO PRODUCTIMAGE(PRODUCTNUM, FILENAME, OLDNAME)
		 VALUES (#{productNum},#{fileName},#{oldName})
	</insert>
	
	<update id="updateUpload" parameterType="ProductFileDTO">
		UPDATE PRODUCTIMAGE SET FILENAME=#{fileName},OLDNAME=#{oldName} WHERE PRODUCTNUM=#{productNum}
	</update>
	
	<resultMap type="ProductDTO" id="getDetailResult">
		<id column="PRODUCTNUM" property="productNum"/>
		<result column="PRODUCTNAME" property="productName"/>
		<result column="PRODUCTDETAIL" property="productDetail"/>
		<result column="PRODUCTRATE" property="productRate"/>
		<result column="PRODUCTDATE" property="productDate"/>
		
		<association property="productFileDTO" javaType="ProductFileDTO">
			<result column="FILENAME" property="fileName"/>
			<result column="OLDNAME" property="oldName"/>
		</association>
	</resultMap>
	
		
	<sql id="search">
			WHERE PRODUCTNUM > 0 AND
			<choose>
				<when test="kind == 'k2'">
					PRODUCTDETAIL LIKE '%'||#{search}||'%'
				</when>
				<when test="kind == 'k3'">
					RODUCTNAME LIKE '%'||#{search}||'%' OR PRODUCTDETAIL LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					PRODUCTNAME LIKE '%'||#{search}||'%'
				</otherwise>
			</choose>
			<!-- <if test="kind == 'k1'">
				PRODUCTNAME LIKE '%'||#{search}||'%' ORDER BY PRODUCTNUM DESC) M)	
			</if>
			<if test="kind == 'k2'">
				PRODUCTDETAIL LIKE '%'||#{search}||'%' ORDER BY PRODUCTNUM DESC) M)	
			</if>
			<if test="kind == 'k3'">
				PRODUCTNAME LIKE '%'||#{search}||'%' OR PRODUCTDETAIL LIKE '%'||#{search}||'%' ORDER BY PRODUCTNUM DESC) M)
			</if> -->
	</sql>
	
	<!-- comment -->
	
	<insert id="getCommentsadd" parameterType="CommentsDTO">
		INSERT INTO COMMNETS 
		VALUES (COMMNETS_SEQ.NEXTVAL,#{boardContents},SYSDATE,#{user_name},#{productNum})
	</insert>
	
	<select id="getCommentList" resultType="CommentsDTO" parameterType="Map">
		SELECT * FROM 
		(SELECT ROWNUM R,M.* FROM(SELECT * FROM COMMNETS WHERE PRODUCTNUM=#{comments.productNum} ORDER BY BOARDNUM DESC) M)
		WHERE R BETWEEN #{pager.startNum} AND #{pager.lastNum}
	</select>
	
	<select id="getCommentCount" parameterType="CommentsDTO" resultType="java.lang.Long">
		SELECT COUNT(BOARDNUM) FROM COMMNETS WHERE PRODUCTNUM=#{productNum}
	</select>
	
	<delete id="getCommentDelete" parameterType="CommentsDTO">
		DELETE COMMNETS WHERE BOARDNUM = #{boardNum}
	</delete>
	
	<update id="getCommentUpdate" parameterType="CommentsDTO">
		UPDATE COMMNETS SET BOARDCONTENTS = #{boardContents} WHERE BOARDNUM=#{boardNum}
	</update>
	
  </mapper>
  
  