<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.root.app.boards.qna.QNADAO">
  	<select id="getList" resultType="QNADTO" parameterType="Pager">
  		SELECT * FROM 
  		(SELECT ROWNUM R, M.* FROM (SELECT * FROM QNA 
			WHERE
			<choose>
				<when test="kind == 'k2'">
					USER_NAME LIKE '%'||#{search}||'%'
				</when>
				<when test="kind == 'k3'">
					USER_NAME LIKE '%'||#{search}||'%' OR BOARDTITLE LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					BOARDTITLE LIKE '%'||#{search}||'%' 
				</otherwise>
			</choose> 
			ORDER BY BOARDREF DESC, BOARDSTEP ASC) M)
		WHERE R BETWEEN #{startNum} AND #{lastNum}
  	</select>
  	
  	<select id="getDetail" resultMap="getDetailResult" parameterType="QNADTO">
  		SELECT * FROM QNA Q
			LEFT OUTER JOIN QNAFILES QF
				USING (BOARDNUM)
  		 WHERE BOARDNUM =#{boardNum}
  	</select>
  	
  	<select id="gettotalcount" resultType="java.lang.Long" parameterType="Pager">
  		SELECT COUNT(BOARDNUM) FROM QNA
  		WHERE BOARDNUM > 0 AND
  		<choose>
				<when test="kind == 'k2'">
					USER_NAME LIKE '%'||#{search}||'%'
				</when>
				<when test="kind == 'k3'">
					USER_NAME LIKE '%'||#{search}||'%' OR BOARDTITLE LIKE '%'||#{search}||'%'
				</when>
				<otherwise>
					BOARDTITLE LIKE '%'||#{search}||'%' 
				</otherwise>
			</choose> 
  	</select>
  	
  	<insert id="add" parameterType="QNADTO">
  		<selectKey order="BEFORE" keyProperty="boardNum" resultType="Long">
  			SELECT BOARDNUM_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		
  		INSERT INTO QNA VALUES(#{boardNum},#{boardTitle},#{boardContents}, SYSDATE, 0, #{user_name},BOARDNUM_SEQ.CURRVAL,0,0)
  	</insert>
  
  	<insert id="reply" parameterType="QNADTO">
  		INSERT INTO QNA(BOARDNUM, BOARDTITLE, BOARDCONTENTS, BOARDDATE, BOARDHIT, USER_NAME, BOARDREF, BOARDSTEP, BOARDDEPTH)
  		 VALUES(BOARDNUM_SEQ.NEXTVAL,#{boardTitle},#{boardContents}, SYSDATE, 0,#{user_name},#{boardRef},#{boardStep},#{boardDepth})
  	</insert>
  	
  	<update id="updateStep" parameterType="QNADTO">
  		UPDATE QNA SET BOARDSTEP=BOARDSTEP+1 WHERE BOARDREF = #{boardRef} AND BOARDSTEP > #{boardStep}
  	</update>
  
  	<update id="update" parameterType="QNADTO">
  		UPDATE QNA SET BOARDTITLE =#{boardTitle},BOARDCONTENTS =#{boardContents} WHERE BOARDNUM =#{boardNum}
  	</update>
  	
  	<update id="updatehit" parameterType="QNADTO">
  		UPDATE QNA SET BOARDHIT=BOARDHIT+1 WHERE BOARDNUM=#{boardNum}
  	</update>
  
  	<delete id="delete" parameterType="QNADTO">
  		DELETE QNA WHERE BOARDNUM =#{boardNum}
  	</delete>
  	
  	<insert id="addFile" parameterType="BoardFileDTO">
  		INSERT INTO QNAFILES VALUES (FILES_SEQ.NEXTVAL,#{fileName},#{oldName},#{boardNum})
  	</insert>
  	
  	<resultMap type="QNADTO" id="getDetailResult">
  		<id column="BOARDNUM" property="boardNum"/>
	  		<result column="BOARDTITLE" property="boardTitle"/>
	  		<result column="BOARDCONTENTS" property="boardContents"/>
	  		<result column="BOARDDATE" property="boardDate"/>
	  		<result column="BOARDHIT" property="boardHit"/>
	  		<result column="USER_NAME" property="user_name"/>
	  		<result column="BOARDREF" property="boardRef"/>
	  		<result column="BOARDSTEP" property="boardStep"/>
	  		<result column="BOARDDEPTH" property="boardDepth"/>
	  		
  		<collection property="boardFileDTOs" javaType="java.util.List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="OLDNAME" property="oldName"/>
  		</collection>
  		
  	</resultMap>
  	
  	<select id="getFileDetail" resultType="BoardFileDTO" parameterType="BoardFileDTO">
  		SELECT * FROM QNAFILES WHERE FILENUM = #{fileNum}
  	</select>
  	
  	<delete id="deleteFile" parameterType="BoardFileDTO">
  		DELETE QNAFILES WHERE FILENUM = #{fileNum}
  	</delete>
  	
  	<delete id="deleteFileAll" parameterType="BoardFileDTO">
  		DELETE QNAFILES WHERE BOARDNUM = #{boardNum}
  	</delete>
  </mapper>